header{background-color: white;
	border-bottom: solid #cccccc;
}

body{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	width: 960px;
	margin:0 auto;
	background-image: url("../../assets/images/paisley.png");

}


.name{
	background-color:#4aaaa5; 
	color:white;
	font-size: 40px;
	font-family: "Georgia", Times, 'Times New Roman', serif;
	float:left;
	width: auto;
	margin: 0 auto;
	height: 80px;
	max-height: 80px;
	line-height: 80px;
	vertical-align: middle;
	padding-left: 20px;
	padding-right: 20px;
}

.link{
	
	display: inline-block;
	position: relative;
	background-color:#ffffff; 
	border-color: #cccccc;
	font-family: "Georgia", Times, 'Times New Roman', serif;
	float:right;
	font-size: 25px;
	height: 80px;
	max-height: 80px;
	line-height: 80px;
	vertical-align: middle;
}

a{
	text-decoration: none;
	padding: 0px 10px;

}

h2{
	color: #4aaaa5;
	font-size: 35px;
	margin-bottom: gray;
}

.left{
	float: left;
	width: 650px;
	background-color: #ffffff;
	height: 600px;
}

.right{
	color: #4aaaa5;
	float: right;
	width: 270px;
	background-color: #ffffff;
}

footer{
	clear: both;
	background-color: #666666;
	text-align: center;
	color: white;
	height: 80px;
	max-height: 80px;
	line-height: 80px;
	vertical-align: middle;
	border-top: solid 8px #4aaaa5;
}

.clearfix{
	clear: both;
	overflow: auto;
}
